@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #3a393e;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

h1, h2, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: #01632e;
}

h3 {
  color: white;
}

a {
  color: #01632e;
}

a:focus, a:hover {
  color: #00AF50;
  text-decoration: none;
}

body {
  background: image_url('round.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.navbar {
  background: image_url('binding_dark_@2X');
  box-shadow: 3px 3px 2px 0 #d0d0d0;
}

.navbar-inverse .navbar-brand {
  color: #999999;
}

.navbar-inverse .navbar-brand {
  color: #00AF50;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #eaeaea;
}

.navbar .navbar-inverse {
  margin-bottom: 0;
}

.pagination {
  margin-top: 20px;
}

.pagination > li:first-child > span, .pagination > li:first-child > a {
    border-bottom-left-radius: 10px  !important;
    border-top-left-radius: 10px !important;
    }

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    }

.pagination > .active > span {
    z-index: 5;
    color: #fbfafa;
    background-color: #00AF50;
    border-color: #3a393e;
    cursor: pointer;
  }

.pagination > .active > span:hover {
  background-color: #3a393e;
  border-color: #3a393e;
  }

.pagination > li > a:hover, .pagination > li > span:hover {
  background-color: #3a393e;
  border-color: #ffffff;
}

.pagination > li > a,
.pagination > li > span {
 
  
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #fbfafa;
    background-color: #00AF50;
    border: 1px solid #504949;
    margin-left: 4px;
}

.page-item.active > .page-link {
    z-index: 2;
    color: #fff;
    background-color: #353232;
    border-color: #00AF50;
}

.page-link:focus, .page-link:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-primary {
  background-color: #00AF50;
  border-color: #353232;
}

.btn-primary:hover {
  background-color: #353232;
  border-color: #353232;
}

.invalid-feedback {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.btn-danger {
  margin-right: 15px;
  border-color: #353232;
}

.btn-danger:hover {
  background-color: #353232;
  border-color: #353232;
}

.page-item.disabled .page-link {
  color: #353232;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #e5e5e5;
  border-color: #353232;
}

#map {
  height: 300px;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.row {
  margin-top: 35px;
  margin-bottom: 35px;
  display: block;
}

.photo-show {
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
  max-height: 550px;
  width: 100%;
}
.carousel-item-prev {
  display: block;
}

.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  left: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  }

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}