@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  background: image_url('round.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar {
  background: image_url('binding_dark_@2X');
  box-shadow: 3px 3px 2px 0 #d0d0d0;
}

.navbar-inverse .navbar-brand {
  color: #999999;
}

.navbar-inverse .navbar-brand {
  color: #00AF50;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

.pagination > li:first-child > span, .pagination > li:first-child > a {
    border-bottom-left-radius: 10px  !important;
    border-top-left-radius: 10px !important;
    }

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 10px !important;
    border-top-right-radius: 10px !important;
    }

  .pagination > .active > span {
    z-index: 5;
    color: #fbfafa;
    background-color: #00AF50;
    border-color: #3a393e;
    cursor: pointer;
  }

  .pagination > .active > span:hover {
  background-color: #3a393e;
  border-color: #3a393e;
  }

.pagination > li > a:hover, .pagination > li > span:hover {
 background-color: #3a393e;
  border-color: #3a393e;
}

.pagination > li > a,
.pagination > li > span {
 
  
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.428571429;
    text-decoration: none;
    color: #fbfafa;
    background-color: #00AF50;
    border: 1px solid #504949;
    margin-left: 4px;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus

{
 color: #fdfbfb;
    background-color: #00AF50;
    border-color: #353232;
    cursor: not-allowed;
}
