<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= place.name %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
     <small><%= place.user.email %></small>
    <% end %>
  </div>

<% end %>

  <ul class="pagination pagination col-10 offset-1">
    <li class="prev disabled"><span>&#8592; Previous</span></li> 
    <li class="active"><span>1</span></li> <li><a rel="next" href="/?page=2">2</a></li> 
    <li class="next"><a rel="next" href="/?page=2">Next &#8594;</a></li>
  </ul>
